{% extends 'base.html.twig' %}

{% block title %}Контакты{% endblock %}

{% block body %}

    <h1>Контактная информация</h1>
    <p>Наш телефон 777-77-77</p>
    <p><a href="https://www.instagram.com/yamiko_instashop">@yamiko_intashop</p>

{% endblock %}
